<!DOCTYPE html>
<html>
	<head>
		<title>Hi - {{ title }} - let's change your name</title>
		<!-- CSS, keywords, meta goes here -->
	</head>


	<body>
		<h1>Let's change your name!</h1>
		

		<form method="POST" action="/changed">
			<p>Input your old user below</p>
			<input type="text" name="user" required><br>
			<!-- <input type="submit" value="Submit"> -->
			<p>Input your new user below</p>
			<input type="text" name="new_user" required><br>
			<input type="submit" value="Change">
		</form>

		</form>

		</ul>
	</body>



</html>
